@import "tailwindcss";

@theme{
  --background: #ffffff;
  --primaryColor:#ED1450;
  --darkText: #262626;
  --borderColor:#EAEBF0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  --primaryColor:#ED1450;
  --darkText: #262626;
  --borderColor:#EAEBF0;
  }
}

body {
  background:var(--background);
  font-family: 'Manrope';
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") 
  format("truetype");
}
